geospatial_data_download
.claude
.DS_Store
terratorch*.yaml
*.csv
*.parquet
*.html
*.zip
*.tif
*.log
*.err
*.out
*.npy
*.png
*.pyc
chloe_dataset/
yld_proc/raw_yield/
wandb/
native_corn_checkpoints/
output/
processed_data_weekly_*
processed_data_fs_*/
logs/
plots/
predictions/
manuscript
conf_BS/processed_data_bs20_rm_*/
conf_BS/w20_dataset/
conf_BS/w16_dataset/
inference/
__pycache__/