terratorch*.yaml
*.csv
*.parquet
*.html
*.zip
*.tif
*.log
*.err
*.out
*.npy
*.png
chloe_dataset/
yld_proc/raw_yield/
wandb/
native_corn_checkpoints/
output/
processed_data_weekly_*
processed_data_fs_*/
logs/
plots/
predictions/
manuscript
